<a href="https://colab.research.google.com/github/VintageGold/Outages_Prediction/blob/master/WeatherStation_Criteria_RawAllNOAA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#This notebook defines the criteria for all NOAA weather stations

## Imports

In [ ]:
import os
from os import listdir
import pandas as pd
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%cd drive/My\ Drive/
os. getcwd()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
[Errno 2] No such file or directory: 'drive/My Drive/'
/content/drive/My Drive

'/content/drive/My Drive'

## Load Data

### Validation of old data source to new.  Old data source had null values filled in as 0

In [ ]:
df_NOAA = pd.read_csv('UMBC_Energy/Use/All_NOAA.csv',sep='|')

In [ ]:
df_NOAA
df_NOAA['state_station_dt'] = df_NOAA['state'] + df_NOAA['station'] + df_NOAA['date']

In [ ]:
df_NOAA

                      station_dt_key  ...                                 state_station_dt
0       GHCND:USW00014734_2018-01-01  ...            New JerseyGHCND:USW000147342018-01-01
1       GHCND:USW00014734_2018-01-02  ...            New JerseyGHCND:USW000147342018-01-02
2       GHCND:USW00014734_2018-01-03  ...            New JerseyGHCND:USW000147342018-01-03
3       GHCND:USW00014734_2018-01-04  ...            New JerseyGHCND:USW000147342018-01-04
4       GHCND:USW00014734_2018-01-05  ...            New JerseyGHCND:USW000147342018-01-05
...                              ...  ...                                              ...
229136  GHCND:US1DCDC0009_2016-12-16  ...  District of ColumbiaGHCND:US1DCDC00092016-12-16
229137  GHCND:US1DCDC0009_2016-12-19  ...  District of ColumbiaGHCND:US1DCDC00092016-12-19
229138  GHCND:US1DCDC0009_2016-12-20  ...  District of ColumbiaGHCND:US1DCDC00092016-12-20
229139  GHCND:US1DCDC0009_2016-12-22  ...  District of ColumbiaGHCND:US1DCDC00092016-12-22
229140  GHCND:US1DCDC0009_2016-12-23  ...  District of ColumbiaGHCND:US1DCDC00092016-12-23

[229141 rows x 18 columns]

In [ ]:
df_NOAA.nunique()

station_dt_key      225170
state                    8
date                  2014
Year                     6
Month                   12
Day                     31
station                141
PRCP                   435
SNOW                   133
SNWD                   104
AWND                   117
TMAX                   112
TMIN                   114
TDIFF                  173
latitude               141
longitude              141
datacoverage            19
state_station_dt    229141
dtype: int64

## New Data Source for Weather Stations

In [ ]:
df_NOAA_Raw_2020 = pd.read_csv('UMBC_Energy/Raw/Raw_2020_NOAA.csv',sep='|')
df_NOAA_Raw_2019 = pd.read_csv('UMBC_Energy/Raw/Raw_2019_NOAA.csv',sep='|')
df_NOAA_Raw_2018 = pd.read_csv('UMBC_Energy/Raw/Raw_2018_NOAA.csv',sep='|')
df_NOAA_Raw_2017 = pd.read_csv('UMBC_Energy/Raw/Raw_2017_NOAA.csv',sep='|')
df_NOAA_Raw_2016 = pd.read_csv('UMBC_Energy/Raw/Raw_2016_NOAA.csv',sep='|')
df_NOAA_Raw_2015 = pd.read_csv('UMBC_Energy/Raw/Raw_2015_NOAA.csv',sep='|')

In [ ]:
df_NOAA_Raw = pd.concat([df_NOAA_Raw_2020,df_NOAA_Raw_2019,df_NOAA_Raw_2018,df_NOAA_Raw_2017,df_NOAA_Raw_2016,df_NOAA_Raw_2015])
df_NOAA_Raw = df_NOAA_Raw.drop_duplicates('station_dt_key')

In [ ]:
df_NOAA_Raw.nunique()

station_dt_key    225170
date                2014
station              141
PRCP                 435
SNOW                 133
SNWD                 104
AWND                 117
TMAX                 112
TMIN                 114
dtype: int64

## Load dataset that has the state of each weather station

In [ ]:
df_station_details = pd.read_csv('UMBC_Energy/Raw/station_details.csv',sep='|')

In [ ]:
df_station_details

     elevation     mindate  ... location_type     location
0         11.9  1865-06-01  ...         GHCND  USC00288878
1          3.0  1873-12-01  ...         GHCND  USC00287865
2          3.0  1873-12-10  ...         GHCND  USW00013724
3         30.5  1893-01-01  ...         GHCND  USC00283951
4         85.3  1893-01-01  ...         GHCND  USC00280907
..         ...         ...  ...           ...          ...
728      198.1  1908-11-01  ...         GHCND  USC00467875
729      548.0  1909-05-01  ...         GHCND  USC00461083
730     1086.6  1912-01-01  ...         GHCND  USC00461591
731      622.4  1912-04-01  ...         GHCND  USC00464230
732     1005.8  1912-07-01  ...         GHCND  USC00461940

[733 rows x 12 columns]

In [ ]:
df_station_details.nunique()

elevation        383
mindate          274
maxdate          459
latitude         497
name             630
datacoverage     365
id               715
elevationUnit      1
longitude        569
state              8
location_type      4
location         715
dtype: int64

##### Some ID's appeared in multiple states so had to keep one of them.  There wasn't a value gain or loss by dropping duplicates after the first id was found

In [ ]:
ids = df_station_details["id"]
df_station_details[ids.isin(ids[ids.duplicated()])].sort_values("id").reset_index()

    index  elevation  ... location_type     location
0     130      275.8  ...         GHCND  USC00182770
1     450      275.8  ...         GHCND  USC00182770
2     684      116.1  ...         GHCND  USC00184025
3     478      116.1  ...         GHCND  USC00184025
4       7       18.3  ...         GHCND  USC00284653
5     134       18.3  ...         GHCND  USC00284653
6     509      735.2  ...         GHCND  USC00460527
7     712      735.2  ...         GHCND  USC00460527
8     511      223.1  ...         GHCND  USC00460710
9     718      223.1  ...         GHCND  USC00460710
10    650       75.0  ...         GHCND  USC00463927
11    434       75.0  ...         GHCND  USC00463927
12    659      207.0  ...         GHCND  USC00464378
13    206      207.0  ...         GHCND  USC00464378
14    103      320.0  ...         GHCND  USC00466207
15    637      320.0  ...         GHCND  USC00466207
16    668      205.7  ...         GHCND  USC00466442
17    207      205.7  ...         GHCND  USC00466442
18    640      201.2  ...         GHCND  USC00469368
19    202      201.2  ...         GHCND  USC00469368
20    413       34.1  ...        NEXRAD         KAKQ
21    342       34.1  ...        NEXRAD         KAKQ
22    415       15.2  ...        NEXRAD         KDOX
23    344       15.2  ...        NEXRAD         KDOX
24    412        NaN  ...        NEXRAD         KLWX
25    341        NaN  ...        NEXRAD         KLWX
26    429      104.9  ...        NEXRAD         TADW
27    361      104.9  ...        NEXRAD         TADW
28    427       91.1  ...        NEXRAD         TBWI
29    360       91.1  ...        NEXRAD         TBWI
30    428      104.9  ...        NEXRAD         TDCA
31    358      104.9  ...        NEXRAD         TDCA
32    426      143.9  ...        NEXRAD         TIAD
33    359      143.9  ...        NEXRAD         TIAD
34    425       46.9  ...        NEXRAD         TPHL
35    362       46.9  ...        NEXRAD         TPHL

[36 rows x 13 columns]

In [ ]:
df_station_details = df_station_details.drop_duplicates('id')

In [ ]:
df_station_details

     elevation     mindate  ... location_type     location
0         11.9  1865-06-01  ...         GHCND  USC00288878
1          3.0  1873-12-01  ...         GHCND  USC00287865
2          3.0  1873-12-10  ...         GHCND  USW00013724
3         30.5  1893-01-01  ...         GHCND  USC00283951
4         85.3  1893-01-01  ...         GHCND  USC00280907
..         ...         ...  ...           ...          ...
728      198.1  1908-11-01  ...         GHCND  USC00467875
729      548.0  1909-05-01  ...         GHCND  USC00461083
730     1086.6  1912-01-01  ...         GHCND  USC00461591
731      622.4  1912-04-01  ...         GHCND  USC00464230
732     1005.8  1912-07-01  ...         GHCND  USC00461940

[715 rows x 12 columns]

### Merge to pair station with State

In [ ]:
df_NOAA_Raw.merge(df_station_details,left_on='station',right_on='id',how='left').sort_values('date')

                      station_dt_key  ...     location
223960  GHCND:US1DEKN0001_2015-01-01  ...  US1DEKN0001
212223  GHCND:USC00283662_2015-01-01  ...  USC00283662
195710  GHCND:USC00442635_2015-01-01  ...  USC00442635
197760  GHCND:USC00440327_2015-01-01  ...  USC00440327
201773  GHCND:USC00366233_2015-01-01  ...  USC00366233
...                              ...  ...          ...
3207    GHCND:USC00461220_2020-07-06  ...  USC00461220
10026   GHCND:USC00338822_2020-07-06  ...  USC00338822
9381    GHCND:USC00361920_2020-07-06  ...  USC00361920
9510    GHCND:USC00361485_2020-07-06  ...  USC00361485
4501    GHCND:USC00447506_2020-07-06  ...  USC00447506

[225170 rows x 21 columns]

In [ ]:
df_NOAA_Raw.merge(df_station_details,left_on='station',right_on='id',how='left').sort_values('date').reset_index()

         index                station_dt_key  ... location_type     location
0       223960  GHCND:US1DEKN0001_2015-01-01  ...         GHCND  US1DEKN0001
1       212223  GHCND:USC00283662_2015-01-01  ...         GHCND  USC00283662
2       195710  GHCND:USC00442635_2015-01-01  ...         GHCND  USC00442635
3       197760  GHCND:USC00440327_2015-01-01  ...         GHCND  USC00440327
4       201773  GHCND:USC00366233_2015-01-01  ...         GHCND  USC00366233
...        ...                           ...  ...           ...          ...
225165    3207  GHCND:USC00461220_2020-07-06  ...         GHCND  USC00461220
225166   10026  GHCND:USC00338822_2020-07-06  ...         GHCND  USC00338822
225167    9381  GHCND:USC00361920_2020-07-06  ...         GHCND  USC00361920
225168    9510  GHCND:USC00361485_2020-07-06  ...         GHCND  USC00361485
225169    4501  GHCND:USC00447506_2020-07-06  ...         GHCND  USC00447506

[225170 rows x 22 columns]

In [ ]:
df_NOAA_Raw_merge = df_NOAA_Raw.merge(df_station_details,left_on='station',right_on='id',how='left').sort_values('date').reset_index().drop(columns=['index'])

## **Load All State and Abbreviations**

In [ ]:
df_state_abbv = pd.read_csv('UMBC_Energy/Universal_Data/state_abb.csv',sep=',')
df_state_abbv = df_state_abbv.drop(columns='Abbrev')
df_state_abbv.head()

        State Code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

####Merge two datasets to get state abbreviations

In [ ]:
df_NOAA_merge_state = df_NOAA_Raw_merge.merge(df_state_abbv,left_on = 'state', right_on = 'State',how='left')

In [ ]:
df_NOAA_merge_state

                      station_dt_key                 date  ...          State  Code
0       GHCND:US1DEKN0001_2015-01-01  2015-01-01T00:00:00  ...       Delaware    DE
1       GHCND:USC00283662_2015-01-01  2015-01-01T00:00:00  ...     New Jersey    NJ
2       GHCND:USC00442635_2015-01-01  2015-01-01T00:00:00  ...       Virginia    VA
3       GHCND:USC00440327_2015-01-01  2015-01-01T00:00:00  ...       Virginia    VA
4       GHCND:USC00366233_2015-01-01  2015-01-01T00:00:00  ...   Pennsylvania    PA
...                              ...                  ...  ...            ...   ...
225165  GHCND:USC00461220_2020-07-06  2020-07-06T00:00:00  ...  West Virginia    WV
225166  GHCND:USC00338822_2020-07-06  2020-07-06T00:00:00  ...           Ohio    OH
225167  GHCND:USC00361920_2020-07-06  2020-07-06T00:00:00  ...   Pennsylvania    PA
225168  GHCND:USC00361485_2020-07-06  2020-07-06T00:00:00  ...   Pennsylvania    PA
225169  GHCND:USC00447506_2020-07-06  2020-07-06T00:00:00  ...       Virginia    VA

[225170 rows x 23 columns]

In [ ]:
#df_NOAA_merge_state.to_csv('UMBC_Energy/Raw/Raw_All_NOAA.csv',sep='|',index=False)

In [ ]:
df_NOAA_merge_state.groupby('Code').count()

      station_dt_key   date  station  ...  location_type  location  State
Code                                  ...
DC              7093   7093     7093  ...           7093      7093   7093
DE             40174  40174    40174  ...          40174     40174  40174
MD             11874  11874    11874  ...          11874     11874  11874
NJ             27492  27492    27492  ...          27492     27492  27492
OH             35843  35843    35843  ...          35843     35843  35843
PA             31586  31586    31586  ...          31586     31586  31586
VA             41915  41915    41915  ...          41915     41915  41915
WV             29193  29193    29193  ...          29193     29193  29193

[8 rows x 22 columns]

# ** Below: Selection Criteria = Sort on amount of occurences.  Search for stations with all features filled with values similar to top occurence stations.  More features with a value that is similar to the station who appear most frequent is preferred and selected for analysis**

## DC

In [ ]:
#Selected Top 2 selected
df_NOAA_state_group = df_NOAA_merge_state[df_NOAA_merge_state.datacoverage >= .99]

df_NOAA_state_group.query('Code == "DC"').groupby('id').count().sort_values('station',ascending=False).head(6)

                   station_dt_key  date  station  ...  location  State  Code
id                                                ...
GHCND:USC00186350            1876  1876     1876  ...      1876   1876  1876
GHCND:USC00182325            1844  1844     1844  ...      1844   1844  1844
GHCND:US1DCDC0014            1289  1289     1289  ...      1289   1289  1289
GHCND:US1DCDC0019             972   972      972  ...       972    972   972
GHCND:US1DCDC0010              17    17       17  ...        17     17    17

[5 rows x 22 columns]

## DE

In [ ]:
#Selected First 2 and Tail id
df_NOAA_state_group = df_NOAA_merge_state[df_NOAA_merge_state.datacoverage >= .99]

df_NOAA_state_group.query('Code == "DE"').groupby('id').count().sort_values('station',ascending=False).head(9)

                   station_dt_key  date  station  ...  location  State  Code
id                                                ...
GHCND:USW00013781            2013  2013     2013  ...      2013   2013  2013
GHCND:USW00013764            2013  2013     2013  ...      2013   2013  2013
GHCND:US1DENC0010            2003  2003     2003  ...      2003   2003  2003
GHCND:US1DESS0035            2000  2000     2000  ...      2000   2000  2000
GHCND:US1DENC0002            1998  1998     1998  ...      1998   1998  1998
GHCND:US1DESS0003            1987  1987     1987  ...      1987   1987  1987
GHCND:US1DESS0025            1956  1956     1956  ...      1956   1956  1956
GHCND:US1DESS0002            1952  1952     1952  ...      1952   1952  1952
GHCND:USC00072730            1886  1886     1886  ...      1886   1886  1886

[9 rows x 22 columns]

## MD

In [ ]:
#Selected Top 5
df_NOAA_state_group = df_NOAA_merge_state[df_NOAA_merge_state.datacoverage >= .99]

df_NOAA_state_group.query('Code == "MD"').groupby('id').count().sort_values('station',ascending=False).head(6)

                   station_dt_key  date  station  ...  location  State  Code
id                                                ...
GHCND:USC00460527            1995  1995     1995  ...      1995   1995  1995
GHCND:USC00186620            1986  1986     1986  ...      1986   1986  1986
GHCND:USW00013701            1981  1981     1981  ...      1981   1981  1981
GHCND:USC00188380            1853  1853     1853  ...      1853   1853  1853
GHCND:USC00188405            1316  1316     1316  ...      1316   1316  1316
GHCND:USC00187330            1276  1276     1276  ...      1276   1276  1276

[6 rows x 22 columns]

## NJ

In [ ]:
#Selected Top 5

df_NOAA_state_group = df_NOAA_merge_state[df_NOAA_merge_state.datacoverage >= .99]

df_NOAA_state_group.query('Code == "NJ"').groupby('id').count().sort_values('station',ascending=False).head(6)

                   station_dt_key  date  station  ...  location  State  Code
id                                                ...
GHCND:USC00288644            2014  2014     2014  ...      2014   2014  2014
GHCND:USC00283662            2013  2013     2013  ...      2013   2013  2013
GHCND:USW00014734            2013  2013     2013  ...      2013   2013  2013
GHCND:USW00013724            2011  2011     2011  ...      2011   2011  2011
GHCND:USC00283029            2010  2010     2010  ...      2010   2010  2010
GHCND:USC00281582            2009  2009     2009  ...      2009   2009  2009

[6 rows x 22 columns]

## OH

In [ ]:
#Selected Top 5
df_NOAA_state_group = df_NOAA_merge_state[df_NOAA_merge_state.datacoverage >= .99]

df_NOAA_state_group.query('Code == "OH"').groupby('id').count().sort_values('station',ascending=False).head(6)

                   station_dt_key  date  station  ...  location  State  Code
id                                                ...
GHCND:USC00330862            2011  2011     2011  ...      2011   2011  2011
GHCND:USC00338822            2011  2011     2011  ...      2011   2011  2011
GHCND:USC00338609            2007  2007     2007  ...      2007   2007  2007
GHCND:USC00336196            2005  2005     2005  ...      2005   2005  2005
GHCND:USC00338769            2003  2003     2003  ...      2003   2003  2003
GHCND:USC00338830            1984  1984     1984  ...      1984   1984  1984

[6 rows x 22 columns]

## PA

In [ ]:
# Selected 
df_NOAA_state_group = df_NOAA_merge_state[df_NOAA_merge_state.datacoverage >= .99]

df_NOAA_state_group.query('Code == "PA"').groupby('id').count().sort_values('station',ascending=False).head(6)

                   station_dt_key  date  station  ...  location  State  Code
id                                                ...
GHCND:USC00367409            2014  2014     2014  ...      2014   2014  2014
GHCND:USC00363632            2014  2014     2014  ...      2014   2014  2014
GHCND:USC00367477            2014  2014     2014  ...      2014   2014  2014
GHCND:USC00367931            2014  2014     2014  ...      2014   2014  2014
GHCND:USC00368449            2014  2014     2014  ...      2014   2014  2014
GHCND:USC00361920            2011  2011     2011  ...      2011   2011  2011

[6 rows x 22 columns]

## VA

In [ ]:
df_NOAA_state_group = df_NOAA_merge_state[df_NOAA_merge_state.datacoverage >= .99]

df_NOAA_state_group.query('Code == "VA"').groupby('id').count().sort_values('station',ascending=False).head(6)

                   station_dt_key  date  station  ...  location  State  Code
id                                                ...
GHCND:USC00443272            2014  2014     2014  ...      2014   2014  2014
GHCND:USC00449301            2014  2014     2014  ...      2014   2014  2014
GHCND:USC00444876            2013  2013     2013  ...      2013   2013  2013
GHCND:USC00441593            2013  2013     2013  ...      2013   2013  2013
GHCND:USC00447506            2013  2013     2013  ...      2013   2013  2013
GHCND:USC00448062            2011  2011     2011  ...      2011   2011  2011

[6 rows x 22 columns]

##WV

In [ ]:
df_NOAA_state_group = df_NOAA_merge_state[df_NOAA_merge_state.datacoverage >= .99]

df_NOAA_state_group.query('Code == "WV"').groupby('id').count().sort_values('station',ascending=False).head(6)

                   station_dt_key  date  station  ...  location  State  Code
id                                                ...
GHCND:USW00013736            2013  2013     2013  ...      2013   2013  2013
GHCND:USC00465224            2012  2012     2012  ...      2012   2012  2012
GHCND:USC00461220            2012  2012     2012  ...      2012   2012  2012
GHCND:USC00460580            2012  2012     2012  ...      2012   2012  2012
GHCND:USC00465353            2011  2011     2011  ...      2011   2011  2011
GHCND:USC00466867            2008  2008     2008  ...      2008   2008  2008

[6 rows x 22 columns]